<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>apclab music</title>
  <!-- Load libs  -->
  <link rel="stylesheet" href="/static/vendor/node_modules/semantic-ui-css/semantic.min.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/index.css" type="text/css" charset="utf-8">
  <script src="/static/js/jquery/jquery-2.1.4.min.js"></script>
  <script src="/static/vendor/node_modules/semantic-ui-css/semantic.min.js"></script>
  <script src="/static/vendor/node_modules/vue/dist/vue.min.js"></script>

  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="main-wrapper">
    <div class="ui pointing menu" id="main-menu">
      <a class="item active">
        <i class="home icon"></i>
        207
      </a>
      <a class="item">
        <i class="comment outline icon"></i>
        Messages
      </a>
      <a class="item">
        <i class="users icon"></i>
        Users
      </a>
      <div class="right menu" id="connect-status">
        <div class="red active item"
             v-if="status == 'close'"
             >
          <i class="warning sign icon"></i>
          Broker Disconnected
        </div>
        <div class="green active item"
             v-if="status == 'open'"
             >
          <i class="check circle icon"></i>
          Broker Connected
        </div>
      </div>
    </div>
    <div class="ui segment" id="main-content">
      <div class="ui three item menu">
        <a class="item" id="play-btn"><i class="icon play"></i></a>
        <a class="item" id="pause-btn"><i class="icon pause"></i></a>
        <a class="item" id="stop-btn"><i class="icon stop"></i></a>
      </div>
      <div class="ui action input" id="yt-add">
        <input placeholder="Add YouTube link" type="text" id="new-link">
        <button type="button" class="ui icon button" id="add-btn"><i class="icon plus"></i></button>
      </div>
    </div>
  </div>
</body>
</html>
