<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>apclab music</title>
  <link rel="stylesheet" href="/static/semanticui/semantic.min.css" type="text/css" charset="utf-8">
  <script src="/static/js/jquery/jquery-2.1.4.min.js"></script>
  <script src="/static/semanticui/semantic.min.js"></script>
  <script src="/static/js/app.js"></script>
</head>
<body>
  <button type="button" class="ui button" id="play-btn"><i class="icon play"></i></button>
  <br>
  <button type="button" class="ui button" id="pause-btn"><i class="icon pause"></i></button>
  <br>
  <button type="button" class="ui button" id="stop-btn"><i class="icon stop"></i></button>
  <br>
  <div class="ui action input">
    <input placeholder="Add YouTube link" type="text" id="new-link">
    <button type="button" class="ui button" id="add-btn"><i class="icon plus"></i></button>
  </div>
</body>
</html>
