<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>apclab music</title>
  <!-- Load libs  -->
  <link rel="stylesheet" href="/static/vendor/node_modules/semantic-ui-css/semantic.min.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/index.css" type="text/css" charset="utf-8">
  <script src="/static/js/jquery/jquery-2.1.4.min.js"></script>
  <script src="/static/vendor/node_modules/semantic-ui-css/semantic.min.js"></script>
  <script src="/static/vendor/node_modules/vue/dist/vue.min.js"></script>

  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="main-wrapper">
    <div class="ui pointing menu" id="main-menu">
      <a class="item active">
        <i class="home icon"></i>
        207
      </a>
      <a class="item">
        <i class="comment outline icon"></i>
        Messages
      </a>
      <a class="item">
        <i class="users icon"></i>
        Users
      </a>
      <div class="right menu" id="connect-status">
        <div class="red active item"
             v-if="status == 'close'"
             >
          <i class="warning sign icon"></i>
          Broker Disconnected
        </div>
        <div class="green active item"
             v-if="status == 'open'"
             >
          <i class="check circle icon"></i>
          Broker Connected
        </div>
      </div>
    </div>
    <div class="ui segment" id="main-content">
      <div id="control-panel">
        <button class="ui circular icon button" id="play-btn"
           v-if="player_state && player_state !== 'playing' && player_state != 'buffering'"
           v-on:click="play()"
           >
          <i class="icon play"></i>
        </button>
        <button class="ui circular icon button" id="pause-btn"
           v-if="player_state && player_state === 'playing' && player_state != 'buffering'"
           v-on:click="pause()"
           >
          <i class="icon pause"></i>
        </button>
        <button class="ui circular icon button" id="stop-btn"
           v-on:click="stop()"
          >
          <i class="icon stop"></i>
        </button>
        <span id="vol-panel">
          <button class="ui circular icon button" id="mute-btn">
            [[ volume ]]
          </button>
          <input id="vol-slider" type="range" min="0" max="100" 
                 v-model="volume" v-on:change="set_vol">
        </span>
      </div>
      <div class="ui action input" id="yt-add">
        <input placeholder="Add YouTube link" type="text" id="new-link">
        <button type="button" class="ui icon button" id="add-btn"><i class="icon plus"></i></button>
      </div>
      <div id="info-panel">
        <div id="info-panel-current" class="ui two column grid segment">
          <div class="four wide column">
            <div class="ui fluid image">
              <div class="ui blue ribbon label">
                [[ player_state ]]
              </div>

              <img src="//img.youtube.com/vi/[[ id ]]/0.jpg">
            </div>
          </div><!-- div#column -->
          <div class="twelve wide column">
            <div class="ui large divided list">
              <div class="item">
                <i class="large sound icon"></i>
                <div class="middle aligned content">
                  [[ title ]]
                </div>
              </div>
              <div class="item">
                <i class="large user icon"></i>
                <div class="middle aligned content">
                  Added by [[ user ]]
                </div>
              </div>
              <div class="item">
                <i class="icon"></i>
                <div class="content">
                </div>
              </div>
            </div>
          </div><!-- div#column -->
        </div><!-- div#info-panel-current -->
      </div><!-- div#info-panel -->
      <h4 class="ui horizontal divider header">
        <i class="star icon"></i>
      </h4>
    </div><!-- div#main-content -->
  </div><!-- div#main-wrapper -->
</body>
</html>
